.products {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}
body {
  background-color: #f6f6f6;
}
.cont {
  display: flex;
  justify-content: center;
}
.back {
  background-color: #f4eddd; 
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.change {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
h3, h4 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
button {
  margin: 10px;
}
nav{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  background-color: #cfd8dc;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.link{
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
h1{
  text-align: center;
  margin-top: 50px;
}
.about, .contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
form{
  display: flex;
  flex-direction: column;
}
input, textarea{
  padding: 7px;
  margin: 7px;
}
@media all and (max-width:500px) {
  nav, 
  .cont{
    flex-direction: column;
  }
  img{
    width: 100%;
  }
  h3, h4{
    font-size: 1em;
  }
  .product-card {
    flex-basis: 100%;
  }
}